<main>
    <app-sidebar [activeFilter]="activeFilter$ | async"></app-sidebar>

    <div class="tasks">
        <h3>TASKS</h3>
        <ul>
            <ng-container *ngFor="let i of items$ | async">
                <li>
                    <app-item (remove)="remove(i)" [item]="i"></app-item>
                </li>
            </ng-container>
        </ul>
        <div class="new-item-box">
            <input
                #newItem
                placeholder="New item"
                (keyup.enter)="addItem(newItem.value); newItem.value = ''"
                class="lg-text-input"
                id="addItemInput" />
            <button
                class="btn-primary"
                (click)="addItem(newItem.value); newItem.value = ''">
                Add
            </button>
        </div>
    </div>
</main>
