main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1rem;

    @media screen and (min-width: 800px) {
        width: 70%;
        align-self: center;
        flex-direction: row;
        gap: 2rem;
    }

    app-sidebar {
        width: 100%;
        margin: 0 0 2rem 0;

        @media screen and (min-width: 800px) {
            width: 30%;
            align-self: flex-start;
            margin: 0;
        }
    }
    .tasks {
        width: 100%;

        @media screen and (min-width: 800px) {
            width: 70%;
            align-self: flex-start;
        }
        h3 {
            font-size: 1.3rem;
            font-weight: normal;
            color: black;
            margin: 0 0 1rem 0;
        }

        .new-item-box {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 0.3rem;
            margin-top: 1rem;

            .lg-text-input {
                background-color: transparent;
                width: 100%;
                padding: 0.5rem;
                border-top: none;
                border-right: none;
                border-left: none;
                border-bottom: 1px solid darkgray;
                font-size: 1rem;
                margin: 0;
            }

            .btn-primary {
                background-color: #ff1a1a;
                color: #fff;
                padding: 0.35rem;
                font-size: 1.1rem;
                border: none;
                border-radius: 0.4rem;
                width: 5rem;
                cursor: pointer;
                &:hover {
                    background-color: #ff4d4d;
                }
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin: 0;
            padding: 0;
            gap: 0.4rem;

            li {
                list-style: none;
                background-color: #f2f2f2;
                padding: 0.5rem;
                border: none;
                border-radius: 0.1rem;
            }
        }
    }
}
